{% load static %}
<div class="card_add_basket">
    <div class="row">
        {% for product in products %}
            {% if product.is_active and product.category.is_active %}
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'mainapp:detail' product.id %}">
                        <img class="card-img-top"
                             src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'vendor/img/products/default-image.jpg' %} {% endif %}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'mainapp:detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }} руб.</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'baskets:basket_add' product.id %}" class="btn btn-outline-success">
                            Отправить в корзину
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
