{% extends 'adminapp/base.html' %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                {% include 'authapp/messages.html' %}
                <h1 class="mt-4">Продукты</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Продукты
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Цена</th>
                                    <th>Кол-во</th>
                                    <th>Категория</th>
                                    <th>Активный</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr style="{% if not product.is_active %} background-color: #ffc0a7 {% endif %}">
                                        <td><a href="{% url 'adminapp:admin_products_update' product.id %}"
                                               style="color: dodgerblue">{{ product.name }}</a></td>
                                        <td>{{ product.description }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td style="{% if not product.category.is_active %} background-color: #ffc0a7 {% endif %}">
                                            {% if product.category.is_active %}
                                                {{ product.category }}
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if product.is_active %}
                                                <i class="fas fa-check-circle"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admins:admin_products_create' %}">
                            <button class="btn btn-success">Создать продукт</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">{{ copyright }}</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}