{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %} alert-success {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
             role="alert"
             style="margin-top: 50px;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}